@import './reset';
@import './vars';
@import './colors';
@import './functions';
@import './typography';
@import './scroll';
@import './utils';

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
a,
button,
input,
label,
textarea,
select {
  color: inherit;
  cursor: pointer;
}

svg.icon {
  path[fill],
  rect[fill],
  circle[fill] {
    fill: currentColor;
  }

  path[stroke],
  rect[stroke],
  circle[stroke] {
    stroke: currentColor;
  }
}